.vscode/**
.vscode-test/**
test/**
test-project/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
**/.eslintignore
.git/**
.github/**
*.vsix
node_modules/**
**/*.dotodos
docs/**
do-todos.code-workspace
todo.dotodos
test-strikethrough.dotodos
*.log
.DS_Store
webpack.config.js
extension.js
out/**
img/icon-raw.png
